<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- <p>Welcome to <%= title %></p> -->
    <input type="text" name="content" id="content">
    <input type="submit" value="save">
    <ul>
      <li>1234
        <input type="button" value="delete"></input>
      </li>
    </ul>
    <script> src="/js/all.js"</script>
  </body>
</html>
